<div class="modal fade modal-fullscreen menu-booking-modal" id="{{bookedChef}}BookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">

            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div> -->
          <div class="row">
            <div class="col-md-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="position:relative;right:-12rem;top:2rem;font-size:4rem;">X</span></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-4 pull-right right-align">
                    <div class="btn btn-default btn-xl menu-btn-inverted goto-menu-modal" data-toggle="modal" data-target="#honeyModal">See Menus</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <h4>Completed steps flow will come here</h4> -->
                </div>
            </div>
            <div class="row step" step="1" style="margin-top:4rem;">
                <div class="col-md-5 center-align">
                    <h3 class="font-weight-600">Selected Menu</h3>
                    <img src="" class="menu-image">
                </div> 
                <div class="col-md-7 margin-top-2rem">
                    <div class="main clearfix center-align">
                        <form id="nl-form" class="nl-form">
                            I want to book  
                            <select name="chef">
                                <option value="Chef Honey" selected>Chef Honey</option>
                            </select>
                            <br />
                            for
                            <select name="number_of_people">
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                            people
                            <br/>
                            on 
                            <select  name="month">
                                <option value="June" selected>June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                            </select>
                            <select  name="date">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                            </select>
                            at 
                            <select name="hour">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8" selected>8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select name="time">
                                <option value="pm" selected>p.m.</option>
                                <option value="am">a.m.</option>
                            </select>
                            <!-- <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
                            <div class="nl-submit-wrap">
                                <button class="nl-submit" type="submit">Find a restaurant</button>
                            </div> -->
                            <div class="nl-overlay"></div>
                        </form>
                    </div>
                </div> 
                <div class="col-md-12 pull-right right-align">
                    <div class="btn btn-default btn-xl menu-btn-inverted navigate" action="next">Next</div>
                </div>
            </div>
            <div class="row step" step="2">
                <div class="col-md-8 col-md-offset-2 font-weight-600">
                    <h2>Address:</h2>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="address-form">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Name</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" aria-label="" placeholder="Name" ng-model="honeyBooking.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Phone no.</label>
                            </div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="phone_number" aria-label="" placeholder="Phone Number" ng-model="honeyBooking.phone_number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Address</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="address" aria-label="" placeholder="Flat No., Street" ng-model="honeyBooking.address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>City</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="city" aria-label="" placeholder="City" ng-model="honeyBooking.city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Postal Code</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="postal_code" aria-label="" placeholder="Postal Code" ng-model="honeyBooking.postal_code">
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 right-align padding-right35px">
                    <div class="btn btn-default btn-xl menu-btn-inverted navigate" action="back">Back</div>
                    <div class="btn btn-default btn-xl menu-btn-inverted navigate" action="next">Next</div>
                </div>
            </div>
            <div class="row step" step="3">
                <div class="col-md-12">
                    <h2>Summary:</h2>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Hi {{ honeyBooking.name }}, thanks for booking Chef Honey to cook up the amazing menu at your place on the 19th of May, at 8:00PM. Please check the details below and confirm to recieve a payment link.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            
                        </div>
                        <div class="col-md-7">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pull-right right-align">
                    <div class="btn btn-default btn-xl menu-btn-inverted navigate" action="back">Back</div>
                </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>